backports.tarfile==1.2.0
dj-database-url==3.0.1
djangorestframework==3.16.1
gunicorn==23.0.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pillow==11.3.0
pip-chill==1.0.3
platformdirs==4.2.2
psycopg==3.2.9
psycopg-binary==3.2.9
python-decouple==3.8
requests==2.32.4
tomli==2.0.1
whitenoise==6.9.0
