  <div class="sidebar">
            <div class="logo">Budget<span>Pro</span></div>
            
            <ul class="menu">
                <li class="menu-item active">
                    <i>📊</i> Tableau de bord
                </li>
                <li class="menu-item">
                    <a href="{% url 'depenses' %}">
                        <i>💰</i> Dépenses
                    </a>  
                </li>
                <li class="menu-item">
                    <a href="{% url 'revenus' %}"></a>
                    <i>💹</i> Revenus
                </li>
                <li class="menu-item">>
                    <i>📈</i> Rapports
                </li>
                <li class="menu-item">
                    <a href="{% url 'objectif' %}"></a>
                    <i>🎯</i> Objectifs
                </li>
                <li class="menu-item">
                    <i>👥</i> Collaborateurs
                </li>
                <li class="menu-item">
                    <i>⚙️</i> Paramètres
                </li>
            </ul>
        </div>