<div class="content">
    <div class="page-title">
       <h1>Tableau de bord</h1>
        <div class="header-actions">
            <div class="search-bar">
                <i data-feather="search" class="search-icon"></i>
                <input type="text" class="search-input" placeholder="Rechercher...">
            </div>
            <div class="notification-badge">
                <button class="btn-icon">
                    <i data-feather="bell"></i>
                </button>
                <span class="badge">3</span>
            </div>
        </div>    
    </div>
</div>